# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/Rights/IBLL/obj/Debug
/Rights/IBLL/bin/Debug
/Rights/Common/obj/Debug
/Rights/Common/bin/Debug
/Rights/BLL/obj/Debug
/Rights/App/obj/Debug
/Rights/BLL/bin/Debug
/Rights/App/bin
/Rights/DAL/obj/Debug
/Rights/DAL/bin/Debug
